.flat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: var(--container-max-width);
}

.flat-list__item {
  width: 49%;
  margin: 20px 0px;
  padding: 20px;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.flat-list__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid var(--base-2);
}

.flat-list__text {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.flat-list__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
